aside.social-link {
    float: left;
    width: 150px;
    height: 100vh;
    background: url('./../../static/img/social-links-bg.png') no-repeat;
    background-color: #303841;
    background-size: cover;
}