.slides-preview {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: flex-end;
}

.slide-preview {
    margin: 0 5px;
    position: relative;
}

.slides-preview img {
    opacity: 0.6;
    height: 100px;
    width: auto;
}

.slides-preview img:hover {
    opacity: 0.9;
    cursor: pointer;
}

.slide-preview__slide-number {
    position: absolute;
    bottom: -15px;
    right: 5px;
    color: white;
    font-size: 30px;
}